@keyframes pulseGold {
  0% {
    box-shadow: 0 0 10px gold;
  }
  50% {
    box-shadow: 0 0 20px gold;
  }
  100% {
    box-shadow: 0 0 10px gold;
  }
}

@keyframes pulseSilver {
  0% {
    box-shadow: 0 0 10px silver;
  }
  50% {
    box-shadow: 0 0 20px silver;
  }
  100% {
    box-shadow: 0 0 10px silver;
  }
}

@keyframes pulseBronze {
  0% {
    box-shadow: 0 0 10px #cd7f32;
  }
  50% {
    box-shadow: 0 0 20px #cd7f32;
  }
  100% {
    box-shadow: 0 0 10px #cd7f32;
  }
}
